@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}


/* SOLUTION*/

body {
display: flex;
text-align: center;
flex-flow: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
}

.left-links {
  gap: 16px;
  display: flex;
  flex: 1;
  margin-left: -20px;
}

.right-links {
  gap: 16px;
  display: flex;
  margin-right: 32px;
}

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 16px;
  /* Added padding to the button selector up above */
}

.footer {
  display: flex;
  align-items: end;
  background-color: #eeeeee;
  margin-top: auto;
}